.chessboard {
    border-collapse: collapse;
    padding-left: 0px;
    padding-top: 0px;
}

.square1 {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid black;
}

.square2 {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border: 1px solid white;
}
body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.list {
    flex: 1;
    padding: 10px 10px;
    margin-right: 20px;
}

.list:last-child {
    margin-right: 20px;
}

h2 {
    margin-top: 5px;
}

ul {
    list-style-type: none;
    padding: 2px;
}

li {
    margin-bottom: 10px;
}

strong {
    margin-right: 1px;
    font-weight: bold;
}
